#editor {
    background-color: rgba(255,255,255,0.1);
    margin-top: 15px;
    height: calc(100% - 70px);
    font-size: 12px;
    resize: none;
}

#editName {
    background-color: rgba(255,255,255,0.1);
    font-size: 12px;
}

#editor:focus,
#editName:focus {
    outline: none;
}

.text-black-25 {
    color: rgba(0,0,0,.25)!important;
}

#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

#cover .form-group {
    position: relative;
}

#cover .btn-link {
    color:#fff;
}

#cover .btn-link:hover {
    color:#fff;
}

/* only used for background overlay not needed for centering */
#cover form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}

#imageDropdown {
    color: inherit!important;
}

#imageDropdown:hover {
    text-decoration: none;
}

.table-of-contents > li {
    list-style-type: none;
}

.table-of-contents p {
    margin: 0;
}

#menu {
    color: #222;
}

#menu li:first-child {
    font-size: 120%;
    font-weight: bold;
    margin-right: 30px;
}

#menu .far.fa-sticky-note {
    color: #336699;
}

@media print {
    body {
        background: white;
    }

    .shadow {
        box-shadow: none!important;
    }

    .anchor {
        display: none;
    }
}